<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>

<body>
<h1>Results</h1>
    <table name ='Results' border="1">
        <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Author</th>
            <th>Page Count</th>
            <th>Rating</th>
        </tr>
        <tr>
            <th>{{thumbnail}}></th>
            <th>{{title}}</th>
            <th>{{author}}</th>
            <th>{{pageCount}}</th>
            <th>{{rating}}</th>
            <th><form action = "library"   method="post">
            <input type="submit" value="Add to Library"></input></th>
        </tr>
    
    </table>

</body>
</html>

